/*
			CSS for Final Project Layout by Mariia Gregory
			Class: CIS-72A 42735 
			Instructor: Scott McLeod
*/
body {
		max-width: 1280px;
		margin: 0 auto;
}
header {
		height: 222px; /* corresponding to the height of a top image */
		}
nav {
		width: 180px;
		padding: 30px 10px;
		float: left; 
		height: 400px;
		margin-right: 20px;
		margin-top: 30px;
}
nav p {
		display: block; /* to be able to apply border effects on each menu element so that it looks like a button  */
		padding: 8px 10px;
}
main {
		margin-left: 225px; /* indented the main content from the menu bar */
		padding-top: 20px; 
}
footer {
		margin-top: 50px;
		margin-bottom: 30px; /* so that the footer text doesn't stick to the bottom of the screen */
		clear: both;
}
div.about {
		margin-right: 360px; /* left a space on the right for my side pictures in "Home" page */
}
div.pictures {
		float: right;
		width: 355px; /* the field width for the right-side pictures in "Home" page */
}
main.adventures h3,
main.adventures h3 + p {
		clear: both;
}
article .intro {
		float: left; /* placed an image to the left from a main text */
		margin-right: 10px;
		margin-bottom: 4px; /* so the text below doesn't stick to an image */
}

p.period {
    font-style: italic;
    margin-left: 400px;
}
dd {
    margin-top: 5px;
    margin-bottom: 10px;
}

.photos_table {
		display: table; /* alternative representation for table-looking elements */
		width: 95%; /* to separate visually the last picture in a row from the "Top of Page" icon */
}
.photo_cell {
		display: table-cell;
		width: 25%; /* since there are four images in a line */
}
div.colspan {
		width: 50%; /* the wide Taganay photo is placed in kind of two merged columns of a div-table */
}
.meteorite_photo {
		/* so that the description is right right below the photo */
		display: table-cell;
		padding-right: 10px;
}
.videos {
		/* so that the videos on "My Adventure" page are aligned in a row */
		display: table;
		width: 95%;
		margin-top: 10px;
}

.video-row {
        display: table-row;
}


.video {
		display: table-cell;
		width: 370px;
		height: 275px;
}

table#contact {
    margin: auto;
}
table#contact td {
    padding-right: 10em;
    padding-bottom: 1em;
}

h2 + dl, h2 ~ h3, h2 ~ h3 + dl {
    margin-left: 50px;
}
h2 ~ ol li {
    margin-left: -20px;
    padding-left: -20px;
}