/*
			CSS for Final Project Layout by Maria Gregory
			Class: CIS-72A 42735 
			Instructor: Scott McLeod
*/
body {
  /* max-width: 1280px;      */
		margin: 0 auto;
}
header {
	margin-top: 50px; margin-bottom: 0;
	height: 350px;
	overflow: hidden;
	background: url('logo_catalina.jpg') no-repeat;
}

main {                                                                         
    margin: 50px;
	margin-top: 0;
    padding-top: -50px;
   }

nav {                  /* MENU */
	display: table;
	position: absolute;
	top: 10px; right: 0;
	border-spacing: 10px;
}
nav .nav-row {
    display: table-row;
	width: 100%;
}
.nav-row div {
    display: table-cell;
 width: 13%;
    /*padding: 1px;*/
}

article {
    width: 70%;
    margin-left: 50px; margin-right: 50px;
        margin-bottom: 50px;
       padding: 5px 100px 25px 20px;
}
h1 + article {
    margin-top: -60px;
}

article#about {
    width: auto;
    padding-right: 0;
    /*margin-right: 360px; /* left a space on the right for my side pictures in "Home" page */

}

section#hobby  {
    /*position: absolute;*/
    display: block;
    width: 300px;
    /*top: 550px; right: 20px; */
    padding: 1em;  padding-top: 0;    
    vertical-align: middle;
 }

#contact main article {
    width: 50%;
}

/*figure.home-pic {
	   	float: right;
		margin-right: 0;
		margin-top: 5%;
  width: 355px; /* the field width for the right-side pictures in "Home" page
}                                                                              */
figure.intro {    /* in Adventures */
    float: left; margin-right: 1em;
}
figcaption {
	text-align: center;
}


main.adventures h3,
main.adventures h3 + p {
		clear: both;
}


   /* in Adventures */
.photos_table {
		display: table; /* alternative representation for table-looking elements */
}
.photo_cell {
		display: table-cell;
		width: 25%; /* since there are four images in a line */
}
div.colspan {
		width: 50%; /* the wide Taganay photo is placed in kind of two merged columns of a div-table */
}
.meteorite_photo {
		/* so that the description is right right below the photo */
		display: table-cell;
		padding-right: 10px;
}
.videos {
		/* so that the videos on "My Adventure" page are aligned in a row */
		display: table;
	 width: 95%;
		margin-top: 10px;
}

.video-row {
        display: table-row;
}

.video {
		display: table-cell;
	   /*dth: 370px;  */
		height: 275px;
}
/* in Resume */
.LI-profile-badge {          /*LinkedIn badge*/
    float: right;

}

table#contact {
    margin: auto;
}
table#contact td {
    padding-right: 10em;
    padding-bottom: 1em;
}

h2 ~ *,
h3 ~ * {
    margin-left: 2em;
}

.period {
    margin-left: 0;
}
h2 + ol {
    margin-left: 30px;
}
dd {
    margin-top: 5px;
    margin-bottom: 10px;
}
img#outoforder {
    width: 300px;
    display: block;
    margin-left: auto; margin-right: auto;
}

footer {
		margin: 30px; /* so that the footer text doesn't stick to the bottom of the screen */
		clear: both;
}