@charset "utf-8";
/*
			CSS for Final Project Main Styles by Maria Gregory
			Class: CIS-72A 42735 
			Instructor: Scott McLeod
*/
body {
		font-family: Arial, Verdana, sans-serif;
		font-size: 16px;
        background:  rgba(218, 201, 75, 0.3); /*#DAC9AF;*/
	    background-image: url('ravenna.png'); /*#B7CDBE;*/
}

#resume header {
	background: url('logo_cv.jpg') no-repeat;
}
#adv header {
	background: url('logo_adv.jpg') no-repeat;
}
#contact header {
	background: url('logo_beach.jpg') no-repeat;
}
#links header {
	background: url('logo_links.jpg') no-repeat;
}
#portfolio header {
	background: url('logo_portfolio.jpg') no-repeat;
}

header a {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 12%;
	height: 23%;
	overflow: visible;
	background: url('logo-draft-.png') top left no-repeat;
}
nav {
		font-size: 100%;
        /*background-image: url('nav_bg.jpg');  */
}
nav div div {
    text-align: center;
    background-clip: padding-box;
    text-transform: uppercase;
    /* border: 1px solid black;  */

}

footer {
		font-size: small;
		text-align: center;
        padding-top: -50px;
}

/*main*/
article {
      background-color: #eee;
    /*border: 4px ridge white;  */
		border-radius: 10px;
		box-shadow: 3px 3px 5px gray; /* tried to make a 3D-effect for the menu bar */
  }
section#hobby {

  background-color: beige;

		box-shadow: 3px 3px 5px gray; /* tried to make a 3D-effect for the menu bar */
  }

/* Text styles */

h1, h2, h3 {
	color: maroon;
    margin-bottom: 0; padding-bottom: 0;
	/*font-family: 'Alex Brush', Arial, Verdana, sans-serif; */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1 {
	font-size: 250%;
	color: white;
	text-shadow: 3px 3px 6px black; /*darkslategray;*/
    display: block;
    margin-top: -200px;
    margin-bottom: 200px;
}
h2 { font-size: 130%; }

article h2 {
    display: block;

    text-align: center;
    margin: 20px;
    border-bottom: 1px solid gray;
}

/*article h2 {

    /*background:    #9A7469;/*#A52A2A;   */
    /*background-image: linear-gradient(to right, #eee, #A52A2A,#eee);       */
    /*color: white;
    border-radius: inherit;
    box-shadow:inherit;
} */

h3 {
		font-size: 115%;
		color: brown;
        margin: 2em;
}
h4 {
     color: #A52A2A;

}

a {
		color: maroon;
        text-decoration: none; /* took away underline effect for all links */

}
article a {
    border-bottom: 1px dotted maroon;
 }
a:hover {
		opacity: 0.3;  text-decoration: none;
}

ul, ol {
		line-height: 1.8em;	/* made items easier to read */
}
#hobby ul {
    margin: 0;
}

/* Adventures page */
main.adventures h3,
main.adventures h3 + p {
	text-align: center;
		/* text of "Samples of my photo collection ..."
		and "Click on any picture to see it in full size" in "My Adventures" page  */
}
figcaption {
		/* for the explanatory text below the picture in "Ural" section of "My Adventures" page */
		font-size: 95%;
		text-align: center;
}
div.pictures {
		text-align: center;	
}
.photos_table {
		font-size: 95%;
		text-align: center;
}
.meteorite_photo {
	font-size: 90%;
	text-align: center;
}
blockquote {
	font-style: italic;
	font-size: 1.1em;
}
.videos {
		text-align: center;
		vertical-align: middle;
		font-size: 95%;
}

/* Resume page */
table.resume td {
	vertical-align: top;
}
p.period {
    font-style: italic;

}

/* Portfolio page */
.dashboard-table {
	  display: table;
	  border-collapse: separate;
      border-spacing: 5px;
	  margin-left: auto;
	  margin-right: auto;
       margin-top: 0;
      padding-top: 0;
  }
.dashboard-row {
	display: table-row;
    width: 100%;
}
.dashboard-item {
	display: table-cell;
	width: 30%;     height: 100px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 50px;
}

/*.adventures .dashboard-item {
	width: auto;
} */

.dashboard-item img {
    width: 300px;
    height: 250px;
    vertical-align: top;
    object-fit: cover;/*none; /*cover; /*contain; */     /*scale-down; */
        overflow: hidden;
}
.adventures .dashboard-item img {
    width: 230px;
	object-fit: contain;
}
div.icons {
	height: 60px;
    /*auto; margin-right: auto;*/
    margin-top: 0px;
    padding-top: 0;
    margin-bottom: 10px;
}
.fa {
    /*padding-top: 0;*/
	padding-right: 50px;
	padding-left: 25px;
	padding-bottom: 40px;
    width: 20px;
}
/*.fa:last-child {
    margin-bottom: 0;
} */

#contact .icons {
    position: absolute;
    width: 250px;
    top: 570px;
    right: 100px;
}

#contact .fa {
    display: block;
    width: 200px;
    height: 50px;
    overflow: visible;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	background: url('smedia/fb-color.png') no-repeat;
}
/* GitHub */
.fa-github {
    background: url('smedia/github-color.png') no-repeat;
}
/* LinkedIn */
.fa-linkedin {
    background: url('smedia/linkedin-color.png') no-repeat;
}
.fa-gmail {
    background: url('smedia/gmail-color.png') no-repeat;
}
.fa-vk {
    background: url('smedia/vk-color.png') no-repeat;
}
#contact .fa-facebook {
    background: url('smedia/fb-text.png') no-repeat;
}
#contact .fa-github{
    background: url('smedia/github-text.png') no-repeat;
}
#contact .fa-linkedin {
    background: url('smedia/linkedin-text.png') no-repeat;
}
#contact .fa-gmail {
    background: url('smedia/gmail-text.png') no-repeat;
}
#contact .fa-vk {
    background: url('smedia/vk-text.png') no-repeat;
}