/*
			CSS for Final Project Main Styles by Mariia Gregory
			Class: CIS-72A 42735 
			Instructor: Scott McLeod
*/
body {
		font-family: Arial, Verdana, sans-serif;
		font-size: 16px;
                      background-color: #B7CDBE;
}

main {
      background-color: white;
    border: 4px ridge white;
		border-radius: 10px;
		box-shadow: 3px 3px 5px gray; /* tried to make a 3D-effect for the menu bar */
  }

nav {
		font-size: 110%;
		font-weight: bold;
        /*background-image: url('nav_bg.jpg');  */
}
nav div div {
    text-align: center;
    background-clip: padding-box;
    text-transform: uppercase;

    /* border: 1px solid black;  */

}
nav div div a {
    color: white;
     }

#nav_links {
    background-image: url("logo_links.jpg");
}
#nav_cv {
    background-image: url("logo_cv.jpg");
}
#nav_home {
    background-image: url("logo_catalina.jpg");
}
#nav_adv {
    background-image: url("logo_adv.jpg");
}
#nav_feed {
    background-image: url("logo_beach.jpg");
}
a {
		text-decoration: none; /* took away underline effect for all links */
		color: maroon;
}
a:hover {
		color: #97A9C1;
}
main a {
	 border-bottom: 1px dotted maroon;
}
footer {
		font-size: small;
		text-align: center;
}
h1, h2, h3 {
		color: maroon;
}
h1 {
/*    font-family: 'Alex Brush', Arial, Verdana, sans-serif; text-shadow: 2px 2px gray;  */
	font-size: 130%;
    display: block;


    margin-top: -80px;
    margin-bottom: 50px;
}
h2 {
		font-size: 115%;
}
h3 {
		font-size: 105%;
		color: brown;
}
p.period {
    font-style: italic;

}
div.pictures {
		text-align: center;	
}
ul, ol {
		line-height: 1.8em;	/* made items easier to read */
}
main.adventures h3,
main.adventures h3 + p {
	text-align: center; 
		/* text of "Samples of my photo collection ..."
		and "Click on any picture to see it in full size" in "My Adventures" page  */
}
article .intro {
		/* for the explanatory text below the picture in "Ural" section of "My Adventures" page */
		font-size: 95%; 
		text-align: center;
} 
.photos_table {
		font-size: 95%;
		text-align: center;
}
.meteorite_photo {
	font-size: 90%;
	text-align: center;
}
blockquote {
	font-style: italic;
	font-size: 1.1em;
}
.videos {
		text-align: center;
		vertical-align: middle;
		font-size: 95%;
}
table.resume td {
	vertical-align: top;
}